html, body {
    scroll-behavior: smooth;
    text-align: center;
    margin: 0;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    color: rgb(68, 68, 68);
    font-size: 20px;
}

::selection {
    background: var(--dark-blue);
    color: white;
}

::-moz-selection {
    background: var(--dark-blue);
    color: white;
}

body::-webkit-scrollbar {
    width: 0.7em;
}

body::-webkit-scrollbar-track {
    background-color: var(--blue);
}

body::-webkit-scrollbar-thumb {
    border-radius: 60px;
    background-color: #ff4332;
}

:root {
    --blue: rgb(70, 88, 255);
    --dark-blue: rgb(60, 73, 196);
}

a {
    text-decoration: none;
    color: inherit;
}

header, footer {
    background-color: var(--blue);
    width: 94%;
    padding: 10px 3%;
    display: flex;
    color: white;
    font-size: 18px;
    align-items: center;
}

footer {
    padding: 20px 3%;
    justify-content: space-between;
}

footer>p>a {
    text-decoration: underline;
}

footer>p>a:hover {
    text-decoration: none;
}

.header-link, .footer-link {
    margin: 5px 10px;
    font-size: 22px;
}

.header-link:hover, .footer-link:hover {
    color: rgba(255, 255, 255, 0.781);
}

.button {
    background-color: var(--dark-blue);
    padding: 20px 20px;
    margin: 10px 20px;
    color: white;
    border-radius: 10px;
    transition: all ease-in-out 0.2s;
    width: fit-content;
}

.button:hover {
    background-color: rgb(40, 54, 173);
    cursor: pointer;
}

h1 {
    font-size: 60px;
    font-weight: 400;
}

.home-colored, .home-div, .home-contribute {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-wrap: wrap;
    height: 400px;
}

.home-colored>p {
    font-size: 30px;
}

.home-colored {
    height: 600px;
    color: white;
    background-color: var(--dark-blue);
}

.home-contribute {
    justify-content: center;
    padding: 100px 0;
    flex-wrap: wrap;
}

.home-contribute>h1 {
    flex-basis: 100%;
}

.home-contribute>p>a {
    color: var(--blue)
}

.dataset-div {
    display: flex;
    flex-direction: column;
    font-size: 30px;
}

.dataset-view {
    padding: 10px 0;
    color: var(--blue)
}

.dataset-link {
    border-bottom: solid rgb(168, 168, 168) 1px;
    padding: 10px 50px;
}

.dataset-link:hover {
    color: var(--blue);
}

.data-view-white, .data-view-blue {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    padding: 110px
}

.data-view-blue {
    background-color: var(--dark-blue);
    color: white;
}

/*   Card View        */

.button-div {
    display: flex;
    justify-content: center;
}

.button-div>p {
    width: 100px
}

.card-div {
    width: 95%;
    max-width: 800px;
    height: 500px;
    margin: 100px auto;
    border-radius: 10px;
    padding: 20px;
    box-shadow: 0px 0px 60px rgba(0, 0, 0, 0.651);
    display:flex;
    justify-content: center;
    align-items: center;
    font-size: 30px;
}

.view-dataset-div {
    padding: 100px
}