<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta name="description" content="Open Source Full Computer Science Resources for Developers">
    <meta name="keywords" content="Computer Science, Dev, Developer, Student">
    <title>CS Notes</title>
    {% load static %}
    <link rel="stylesheet" type="text/css" href="{% static "css/index.css" %}" />
    <link rel="apple-touch-icon" sizes="180x180" href="{% static "favicon/apple-touch-icon.png" %}">
    <link rel="icon" type="image/png" sizes="32x32" href="{% static "favicon/favicon-32x32.png" %}">
    <script async src="https://www.googletagmanager.com/gtag/js?id=G-W2057EFE56"></script>
    <script>
        window.dataLayer = window.dataLayer || [];
        function gtag(){dataLayer.push(arguments);}
        gtag('js', new Date());
        gtag('config', 'G-W2057EFE56');
    </script>
</head>

<body>
    <div id="root"></div>
    <script src="{% static "frontend/main.js" %}"></script>
</body>
</html>